<h1>Add Episode</h1>

<%= form_for @episode, :url => {:action => @view_mode, :id => @episode.id, :controller => 'episode'}, :html => {:class => "well", :multipart => true} do |e|%>

<%= render "shared/error_messages", :target => @episode %>

<%= e.label 'Name:'%>
<%= e.text_field :name %>

<%= e.label "Order #" %>
<%= e.number_field :order_num, :min => 1 %>

<%= e.label 'Season #:'%>
<%= e.number_field :season_num, :min => 1%>

<%= e.label 'Episode #:'%>
<%= e.number_field :episode_num, :min => 1%>

<%= e.label 'Description:'%>
<%= e.text_area :description, :rows => "5" %>

<%= e.label 'Air Date:' %>
<%= e.datetime_select :air_date, :ampm => true %>

<%= e.label 'Video Link:'%>
<%= e.text_field :link %>

<%=label_tag 'Promo Image Path:'%>
<%= e.file_field :main_photo_path %>

<%= e.label "Thumbnail Photo Path"%>
<%= e.file_field :main_thumb_photo_path %>

<br />
<input type="submit" class="btn btn-primary">

<% end %>
