<h1>Edit General Settings</h1>

<%= form_for @episode_settings, :url => {:action => 'update_episode_settings', :id => @episode_settings.id, :controller => 'episode'}, :html => {:class => "well", :multipart => true} do |e|%>
      <%= e.check_box :allow_custom_sorting %>Use Custom Sorting?

      <br />
      <input type="submit" class="btn btn-primary" />

<% end %>