<h1>Episodes</h1>

<div class="well">

<div class="row-fluid">
  <div class="span3">
    <%= link_to 'Create Episode', {:action => 'create', :controller => "episode" }, :class => "btn btn-primary" %>
  </div>
  <div class="span3"></div>
  <div class="span3"></div>
  <div class="span3" id="settings">
    <%= link_to 'General Settings', {:action => 'edit_episode_settings', :controller => "episode"}, :class => "btn" %>
  </div>
</div>



<br />



<table class="table" id="episode_table">
	<thead>
		<tr>
            <th>Order #</th>
			<th>Season</th>
			<th>Episode</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>		
	</thead>	
	<tbody>
		<% @episodes.each do |e| %>
			<tr>
                <td class="order_num_cell">

                  <% if @episode_settings.allow_custom_sorting %>
                  <%= e.order_num %>

                  <% else %>
                    N/A
                  <% end %>
                </td>
				<td><%= e.season_num %></td>
				<td><%= e.episode_num %></td>
				<td><%= e.name %></td>
				<td><%= e.description %></td>
				<td>
					<div class="btn-toolbar">	
						<div class="btn-group">				
							<%= link_to '<i class="icon-pencil"></i>'.html_safe, 
								{ :action => 'edit', :controller => "episode", :episode_id => e.id},
							 	:class => "btn btn-small" %>					
							<%= link_to '<i class="icon-film"></i>'.html_safe, 
								{ :action => 'index', :episode_id => e.id, :controller => "clip"}, 
								:class => "btn btn-small" %>					
							<%= link_to '<i class="icon-trash"></i>'.html_safe, 
								{ :action => 'delete', :controller => "episode", :episode_id => e.id}, 
								:class => "btn btn-small btn-danger" %>
						</div>
					</div>
				</td>				
			</tr>
		<% end %>		
	</tbody>
</table>
</div>