<h1>Add Clip</h1>

<%= form_for @clip, :url => {:action => @view_mode, :id => @clip.id, :episode_id => @episode_id, :controller => "clip"}, :html => {:class => "well", :multipart => true} do |c| %>

<%= render "shared/error_messages", :target => @clip %>

<%= c.label "Name" %>
<%= c.text_field :name %>

<%= c.label "Description" %>
<%= c.text_area :description, :rows => "5" %>

<%= c.label "Video Link" %>
<%= c.text_field :link %>

<%= c.label "Photo Path"%>
<%= c.file_field :main_photo_path %><br />

<%= c.label "Thumbnail Photo Path"%>
<%= c.file_field :main_thumb_photo_path %><br />

<input type="submit" class="btn">

<% end %>