<h1>Clips</h1>

<div class="well">
	<%= link_to "Create Clip", {:action =>"create", :episode_id => @episode_id }, :class => "btn btn-primary" %>
	
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</thead>
		
		<tbody>
			
			<% @clips.each do |c| %>
				<tr>
					<td><%= c.name %></td>
					<td><%= c.description %></td>
					<td>
						<div class="btn-toolbar">
							<div class="btn-group">
								<%= link_to '<i class="icon-pencil"></i>'.html_safe, 
									{ :action => 'edit', :clip_id => c.id, :controller => "clip"}, 
									:class => "btn btn-small" %>
								<%= link_to '<i class="icon-trash"></i>'.html_safe, 
									{:action => 'delete', :clip_id => c.id, :controller => "clip" },:method => :delete, 
									:class => "btn btn-small btn-danger" %>			
							</div>
						</div>				
					</td>
				</tr>
			<% end %>
		</tbody>
		
	</table>
	
</div>