<script type="text/javascript">

$(document).ready(function() {
		$("#venture_control").formatCurrency();
	
		$("form").submit(function() {
			$("#venture_control").val($("#venture_control").asNumber());
		});
	
	
		$("#venture_control").focusout(function () {
		    $("#venture_control").formatCurrency();

		});
	});

</script>


<h1>Add Venture</h1>

<%=form_for @venture, :url => {:action => @view_mode, :venture_id => @venture.id, :controller => "venture"}, :html => {:class => "well", :multipart => true} do |p|%>
	
	<ul class="nav nav-pills">
		<li class="active" id="venture_tab">
			<a href="#" id="venture_tab_link">Venture Info</a>
		</li>
		<li id="episode_tab">
			<a href="#" id="episode_tab_link">Episode Info</a>
		</li>
		
		
	</ul>
	
	<div id="venture_panel">
			
		<%=render "shared/error_messages", :target => @venture %>

		<%=p.label "Name" %>
		<%=p.text_field :name%>

        <%=p.label "Order #" %>
        <%=p.number_field :order_num, :min => 0 %>

		<%=label_tag 'Type'%>
		<%=p.select :venture_type, [['Previous', 'Previous'], ['Upcoming', 'Upcoming']]%>

		<%=p.label "Country Info"%>
		<%=p.text_area :country_info, :rows => "5"%>

		<%=p.label "Start Date"%>
		<%=p.text_field :date_start, :class => "custom_date" %>

		<%=p.label "End Date"%>
		<%=p.text_field :date_end, :class => "custom_date"%>

		<%=p.label "Link"%>
		<%=p.text_field :link%>

		<%=p.label "# Recorded Healings"%>
		<%=p.number_field :num_recorded_healings%>

		<%=p.label "# Salvations"%>
		<%=p.number_field :num_salvations%>

        <%= p.label "# People on Trip" %>
        <%= p.number_field :num_people_on_trip %>

		<%=p.label "Price"%>
		<%=p.text_field :price, :id => "venture_control"%>

        <%=label_tag 'Promo Image Path:'%>
        <%=p.file_field :main_photo_path %>

        <%= p.label "Thumbnail Photo Path"%>
        <%= p.file_field :main_thumb_photo_path %>
	
	</div>
	
	<div id="episode_panel">
		
		<%=p.hidden_field :episode_id%>
		
		<h1>Episodes</h1>
		
		<table class="table" id="episode_table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Season #</th>
					<th>Episode #</th>
					<th>Name</th>
					<th>Actions</th>
					
				</tr>
			</thead>
			<tbody id="episode_table_body">
				<%@episodes.each do |e|%>			
				   <%if(@venture.episode_id == e.id) %>
						<tr id="tr_<%=e.id%>" class="success">
				   <%else %>
						<tr id="tr_<%=e.id%>">
				   <%end%>				  					
						<td><img src="<%=e.main_photo_path.url(:thumb) %>" />
						<td><%=e.season_num%></td>
						<td><%=e.episode_num%></td>
						<td><%=e.name %></td>
						<td><a href="#" onclick="pick_episode(<%=e.id%>);" class="btn">Select</a></td>
					</tr>				
				<%end%>					
			</tbody>			
		</table>
		
		
	</div>
	
	<br />
	<input type="submit" class="btn">
	
<% end %>

<script type="text/javascript">

	var venture_episode_id = 0;

	$(".custom_date").datepicker({
		format: 'yyyy-mm-dd'
	});	
	
	$("#venture_tab_link").click(function() { activate_venture_tab(); });
	$("#episode_tab_link").click(function() { activate_episode_tab(); });
	
	$("#episode_panel").hide();
	

function pick_episode(episode_id) {
	venture_episode_id = episode_id;
	
	$("#venture_episode_id").val(episode_id)
	
	$("#episode_table tr").removeClass("success");
	
	$("#tr_" + episode_id).addClass("success");
}
	
function activate_venture_tab() {
	$("#episode_tab").removeClass("active");
	$("#venture_tab").addClass("active");
	
	$("#episode_panel").slideUp();
	$("#venture_panel").slideDown();
	
}

function activate_episode_tab() {
	$("#venture_tab").removeClass("active");	
	$("#episode_tab").addClass("active");
	
	$("#venture_panel").slideUp();
	$("#episode_panel").slideDown();
	
}
	
</script>
