<h1>Edit General Settings</h1>

<%= form_for @venture_settings, :url => {:action => 'update_venture_settings', :id => @venture_settings.id, :controller => 'venture'}, :html => {:class => "well", :multipart => true} do |v|%>
    <%= v.check_box :allow_custom_sorting %>Use Custom Sorting?

    <br />
    <input type="submit" class="btn btn-primary" />

<% end %>