<h1>Ventures</h1>

<div class="well">
  <div class="row-fluid">
    <div class="span3">
      <%= link_to "Create Venture", {:action => "create", :controller => "venture"}, :class => "btn btn-primary"%>
    </div>

    <div class="span6"></div>

    <div class="span3" id="settings">
      <%= link_to 'General Settings', {:action => 'edit_venture_settings', :controller => "venture"}, :class => "btn" %>
    </div>

  </div>

<br />

<div class="tabbable">
	<ul class="nav nav-tabs">  
  		<li id="previous" class="active">
  			<a href="#previous_tab_pane" data-toggle="tab">Previous</a>
  		</li>
  		<li id="upcoming">
    		<a href="#upcoming_tab_pane" data-toggle="tab">Upcoming</a>
  		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="previous_tab_pane">
			<table class="table">
				<thead>
                    <th>Order #</th>
					<th>Name</th>
					<th>Actions</th>
				</thead>				
				<tbody>
					<%@previous.each do |p|%>
						<tr>
                            <td>
                              <% if !@venture_settings.allow_custom_sorting %>
                                N/A
                              <% else %>
                                <%= p.order_num %>
                              <% end %>
                            </td>

							<td><%=p.name%></td>
							<td>
								<div class="btn-toolbar">
									<div class="btn-group">
										<%= link_to '<i class="icon-pencil"></i>'.html_safe, 
											{:action => "edit", :controller => "venture", :venture_id => p.id}, 
											:class => "btn btn-small"%>
                                        <%= link_to '<i class="icon-camera"></i>'.html_safe,
                                                  {:action => 'manage_photos', :controller => "venture", :id => p.id},
                                                  :class => "btn btn-small" %>
										<%= link_to '<i class="icon-trash"></i>'.html_safe, 
											{:action => "delete", :controller => "venture", 
											:venture_id => p.id}, :method => :delete, 	
											:class => "btn btn-small btn-danger"%>
									</div>
								</div>
							</td>
						</tr>					
					<%end%>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="upcoming_tab_pane">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Actions</th>
					</thead>				
					<tbody>
						<%@upcoming.each do |p|%>
							<tr>
                               <td>
                                <% if !@venture_settings.allow_custom_sorting %>
                                    N/A
                                <% else %>
                                    <%= p.order_num %>
                                <% end %>
                               </td>
								<td><%=p.name%></td>
								<td>
									<div class="btn-toolbar">
										<div class="btn-group">
											<%= link_to '<i class="icon-pencil"></i>'.html_safe, 
												{:action => "edit", :controller => "venture", :venture_id => p.id}, 
												:class => "btn btn-small"%>
                                            <%= link_to '<i class="icon-camera"></i>'.html_safe,
                                                      {:action => 'manage_photos', :controller => "venture", :id => p.id},
                                                      :class => "btn btn-small" %>
											<%= link_to '<i class="icon-trash"></i>'.html_safe, 
												{:action => "delete", :controller => "venture", 
												:venture_id => p.id}, :method => :delete, 	
												:class => "btn btn-small btn-danger"%>
										</div>
									</div>
								</td>
							</tr>					
						<%end%>
					</tbody>
				</table>
		</div>
	</div>
</div>

</div>