<h1>Manage Photos</h1>

<div class="well">
  <%= link_to 'Add Photo', {:action => 'add_photo', :controller => 'venture', :id => @venture.id}, :class => "btn btn-primary" %>


  <table class="table" id="photos_table">
    <thead>
    <tr>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @venture.photos.each do |p| %>
        <tr>
          <td><%= image_tag p.photo.url(:thumb) %></td>
          <td>
            <div class="btn-group">
              <%= link_to '<i class="icon-trash"></i>'.html_safe,
                          { :action => 'delete_photo', :controller => 'venture', :id => p.id, :venture_id => @venture.id},
                          :class => "btn btn-small btn-danger" %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>
