<%= javascript_include_tag "welcome_create" %>


<div class="span12">

<h1>Create Welcome</h1>

<%= form_for @welcome, :url => {:action => @view_mode, :controller => 'welcome', :id => @welcome.id}, :html => {:class => "well", :multipart => true} do |w|%>

<%= render "shared/error_messages", :target => @welcome%>
	
	<%=w.label 'Welcome Header Title'%>
	<%=w.text_field :header_text %>
	
	<%=w.label 'Name'%>
	<%=w.text_field :name, :value => @welcome.name %>
	
	<%=label_tag 'Description'%>
	<%=w.text_area :description, :value => @welcome.description, :rows => "5" %>
	
	<%=label_tag 'Target Type'%>
	<%=w.select :target_type, [['Episode', 'Episode'], ['Image', 'Image'], ['Link', 'Link'], ['Profile', 'Profile'], ['Venture', 'Venture'],
	['Video Clip', 'Video Clip']]%>
	
	<div id="target_type_content">
		
	</div>

     <%=label_tag 'Promo Image Path:'%>
     <%=w.file_field :main_photo_path %>

	<input type="submit" class="btn">
	
<% end %>
</div>

<script type="text/javascript">	


	
</script>
	