<h1>Welcome Screen</h1>

<div class="well">

<%if(@welcome.nil?)%>	
	<%=link_to 'Create Welcome Screen', {:action => 'create', :controller => "welcome"}, :class => "btn btn-primary" %>
	
<%else %>
	<%= link_to 'Replace Welcome Screen', {:action => 'create', :controller => "welcome"}, :class => "btn btn-primary" %> 
	
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Target Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td><%=@welcome.name %></td>
				<td><%=@welcome.description %></td>
				<td><%=@welcome.target_type%></td>
				<td>
					<%= link_to '<i class="icon-pencil"></i>'.html_safe,
					 {:action => 'modify', :controller => "welcome"}, :class => "btn btn-small" %>
				</td>
			</tr>
		</tbody>
	</table>

<% end %>

</div>




