<h1>Edit <%= @user.email %></h1>

<%= form_for @user, :url => {:action => "update", :id => @user.id}, :html => {:class => "well"} do |u|%>

    <%= render 'shared/error_messages', :target => @user %>

    <%= u.label 'Email' %>
    <%= u.text_field :email %>

    <%= u.label 'Password' %>
    <%= u.password_field :password %>

    <%= u.label 'Confirm Password' %>
    <%= u.password_field :password_confirmation %>

    <br />

    <input type="submit" class="btn btn-primary" />

<% end %>