<h1>Users</h1>

<div class="well">

  <%= link_to 'Add User', {:action => 'register', :controller => "user"}, :class => "btn btn-primary" %>


    <table class="table" id="users_table">

      <thead>
        <tr>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td>
              <div class="btn-group">
                <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                            { :action => 'edit', :controller => "user", :id => u.id},
                            :class => "btn btn-small" %>
                <%= link_to '<i class="icon-trash"></i>'.html_safe,
                            { :action => 'delete', :controller => "user", :id => u.id},
                            :class => "btn btn-small btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
