<h1>Add Photo to <%=@profile.name %></h1>

<%= form_for @photo, :url => {:action => 'save_photo', :controller => 'profile', :id => @profile.id}, :html => {:multipart => true, :class => 'well'} do |p| %>

    <%= render 'shared/error_messages', :target => @photo %>

    <%= p.label 'Select Photo' %>
    <%= p.file_field :photo %>

    <br />
    <input type="submit" class="btn btn-primary" />

<% end %>
