<h1>Add Profile</h1>

<%=form_for @profile, :url => {:action => @view_mode, :id => @profile.id, :controller => "profile"}, :html => {:class => "well", :multipart => true} do |p|%>
	
	<%=render "shared/error_messages", :target => @profile %>
	
	<%=p.label "Name" %>
	<%=p.text_field :name%>

    <%=p.label "Order #" %>
    <%= p.number_field :order_num, :min => 0%>

	<%=p.label "Role"%>
	<%=p.text_field :role%>

	<%=p.label "Bio"%>
	<%=p.text_area :bio, :rows => "5"%>
	
	<%=p.label "More"%>
	<%=p.text_area :more, :rows => "5"%>
	
	<%=p.label "Quote"%>
	<%=p.text_area :quote, :rows => "5"%>
	
	<%=p.label "Random"%>
	<%=p.text_area :random, :rows => "5"%>
	
	<%=p.label "# Countries"%>
	<%=p.number_field :num_countries%>
	
	<%=p.label "# GV Trips"%>
	<%=p.number_field :num_gv_trips%><br />

    <%=label_tag 'Promo Image Path:'%>
    <%=p.file_field :main_photo_path %>

    <%= p.label "Thumbnail Photo Path"%>
    <%= p.file_field :main_thumb_photo_path %>

	
	<input type="submit" class="btn">
	
	
	
<% end %>