<h1>Edit General Settings</h1>

<%= form_for @profile_settings, :url => {:action => 'update_profile_settings', :id => @profile_settings.id, :controller => 'profile'}, :html => {:class => "well", :multipart => true} do |p|%>
    <%= p.check_box :allow_custom_sorting %>Use Custom Sorting?

    <br />
    <input type="submit" class="btn btn-primary" />

<% end %>