<h1>Profiles</h1>

<div class="well">

<div class="row-fluid">
    <div class="span3">
        <%= link_to "Create Profile", {:action => "create", :controller => "profile"}, :class => "btn btn-primary"%>
    </div>

    <div class="span6"></div>

    <div class="span3" id="settings">
      <%= link_to 'General Settings', {:action => 'edit_profile_settings', :controller => "profile"}, :class => "btn" %>
    </div>


</div>

<br />

<table class="table">
	<thead>
        <th>Order #</th>
		<th>Name</th>
		<th>Actions</th>
	</thead>

	<tbody>
		<% @profiles.each do |p| %>
			<tr>
                <td>
                    <% if !@profile_settings.allow_custom_sorting %>
                           N/A
                    <% else %>
                          <%= p.order_num %>
                    <% end %>
                </td>
				<td><%= p.name %></td>
				<td>
					<div class="btn-toolbar">
						<div class="btn-group">
							<%= link_to '<i class="icon-pencil"></i>'.html_safe, 
								{:action => 'edit', :controller => "profile", :profile_id => p.id}, 
								:class => "btn btn-small" %>
							<%= link_to '<i class="icon-camera"></i>'.html_safe, 
								{:action => 'manage_photos', :controller => "profile", :id => p.id},
								:class => "btn btn-small" %>
							<%= link_to '<i class="icon-trash"></i>'.html_safe, 
								{:action => 'delete', :controller => "profile", :profile_id => p.id}, 
								:method => :delete,
							 	:class => "btn btn-small btn-danger" %>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>