<h1>Login</h1>

<%= form_for @user_session, :url => {:action => 'create'}, :html => {:class => 'well'} do |u|%>

    <%= render 'shared/error_messages', :target => @user_session %>

    <%= u.label 'Email' %>
    <%= u.text_field :email %>

    <%= u.label 'Password' %>
    <%= u.password_field :password %>

    <br />
    <input type="submit" value="Login" class="btn btn-primary" />

<% end %>