<!DOCTYPE html>
<html>
<head>
  <title>GV Management</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>

	<style type="text/css">	

      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

	</style>
	
	<style type="text/javascript">
		<%= yield(:head) %>
	</style>

</head>
<body>
	
	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="#">Global Ventures Management App</a>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li><%= link_to 'Home', :action => 'index' %></li>
				  <li><%= link_to 'Welcome', :controller => 'welcome', :action => 'index' %></li>
				  <li><%= link_to 'Episodes', :controller => 'episode', :action => 'index' %></li>
				  <li><%= link_to 'Profiles', :controller => 'profile', :action => 'index' %></li>
				  <li><%= link_to 'Ventures', :controller => 'venture', :action => 'index' %></li>
                </ul>

                <ul class="nav pull-right">
                    <% if current_user %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-user"></i>
                          User
                          <b class="caret"></b>
                        </a>

                       <ul class="dropdown-menu">
                         <li><%= link_to 'Add User', :controller => 'user', :action => 'register' %></li>
                         <li><%= link_to 'Manage Users', :controller => 'user', :action => 'index' %></li>
                         <li><%= link_to 'Logout', :controller => 'user_sessions', :action => 'logout' %></li>
                        </ul>
                      </li>

                    <% else %>

                      <ul class="nav">
                        <li><%= link_to 'Login<i class="icon-user"></i>'.html_safe, :action => 'login', :controller => "user_sessions" %></li>
                      </ul>

                  <% end %>
	            </ul>


	          </div><!--/.nav-collapse -->


              </li>


	        </div>
	      </div>
	    </div>

<div class="container">
	<div class="row">
		<%= yield %>
	</div>
</div>
</body>
</html>
